<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>FIME</string>
	<key>CFBundleExecutable</key>
	<string>FIME</string>
	<key>CFBundleIconFile</key>
	<string>FIME</string>
	<key>CFBundleIconName</key>
	<string>FIME</string>
	<key>CFBundleIdentifier</key>
	<string>com.inputmethod.FIME</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FIME</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>FIME</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>FIME</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Latn</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>FIME.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>FIME.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>FIME</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>FIME_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>FIMEController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>FIMEController</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
</dict>
</plist>
